# db
DB_ROOT_PASSWORD=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

# front
USE_CORS=""
# BACKEND_URL="api"

# back
API_KEY=""
#MONGO_URI="+srv://*****:*****@cluster0.****.mongodb.net/Weather?appName=Cluster0"
